.body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    size: 15px;
}

#div_login{
    background-color: white ;
    border-radius: 20px;
    box-shadow: 15px 15px 15px black;
    width: 50%;
    height: 270px;
    position: relative;
    top: 235px;
    left: 25%;
}




